.forgot-password{
    background: #f4f4f4;
}
.mod-layout {
    margin: 30px 50px;
}
.mod-layout-title h2{
    font-size: 22px;
    color: #424242;
    font-weight: 300;
    margin: 14px 0;
}
.mod-layout-main {
    background-color: #fff;
    padding: 37px 50px;
}
.mod-layout-subtitle h3{
    font-size: 14px;
    color: #424242;
    font-weight: 300;
    margin-bottom: 30px;
}
.mod-layout .mod-input {
    width: 356px;
}
.mod-input {
    position: relative;
}
.mod-input label {
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    color: #424242;
    display: block;
    margin-bottom: 5px;
}
.mod-layout .forgot-password-btn {
    width: 288px;
    margin: 0;
    height: 48px;
    padding: 0 36px;
    font-size: 14px;
    line-height: 46px;
    border-width: 1px;
    background: #bd0103;
    color: #fff;
}
.mod-layout .forgot-password-btn:hover {
    color: #bd0103;
    background: #b9b3b3;
}