ul {
    margin: 0;
    list-style: none;
    padding: 0;
}
body, p{
    font-size: 13px;
}
body{
    font-family: Raleway,Lato,sans-serif;
}
.navbar {
    margin-bottom: 10px;
    height: 30px;
    min-height: 30px;
}
.navbar img {
    height: 80px;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
.padding40 {
    padding-top: 40px!important;
}
.space20{
    margin-bottom: 20px!important;
}
.space10 {
    margin-bottom: 10px!important;
}

.myBtn {
    border: none;
    border-bottom: 2px solid #ccc;
    max-width: 200px;
    font-weight: 700;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    color: #FFF;
    padding: 0 15px;
}
.myBtn-Primary {
    border-radius: 0;
    height: 50px;
    font-size: 15px;
    font-family: Raleway,Lato,sans-serif;
}