.top-bar{    
    z-index: 998!important;
    background: #292929;
    border-top: 1px solid #2f2e2a;
    position: relative;
}
.top-bar a{
    color: #fff;
}
/* Table center css*/
.tb_center {
    padding: 10px 0;
}
.tb_center ul li {
    position: relative;
}
.tb_center ul li i {
    color: #eee;
    margin-right: 4px;
}
.tb_center ul li a {
    color: #ccc;
}
.tb_center ul li {
    float: left;
    color: #c80204;
    margin-right: 43px;
}
.tb_center ul li:not(:last-child)::after {
    content: "|";
    color: #555;
    position: absolute;
    right: -22px;
}
/*Table right*/
.tb_right li {
    color: #ccc;
    float: left;
    position: relative;
    padding: 11px 0;
    cursor: pointer;
}

.tb_right li:first-child .tbr-info span {
    border-left: 1px solid #3a3a3a;
}
.tb_right li .tbr-info span {
    color: #ccc;
    padding: 0 15px;
    display: table;
    border-right: 1px solid #3a3a3a;
    line-height: 17px;
}