
.heading-sub {
    margin-bottom: 50px;
    position: relative;
}
.heading-sub2 h5:before {
    content: "\f097";
    font-family: FontAwesome;
    width: 40px;
    height: 30px;
    background: #FFF;
    position: absolute;
    bottom: -37px;
    color: #333;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    z-index: 999;
}
.heading-sub h5 {
    font-family: Raleway,Lato,sans-serif;
    font-size: 23px;
    color: #333;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
}
.heading-sub2 h5:after {
    width: 170px;
    bottom: -18px;
}
.heading-sub2 h5:after, .heading-sub:after {
    content: "";
    width: 230px;
    height: 1px;
    background: #CCC;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.slick-slider .product-item {
    margin-bottom: 0;
}
/** CSS Product Item **/
.product-item {
    border-bottom: 1px solid #FFF;
}
.product-item:hover {
    border-bottom: 1px solid #c80204;
}
.item-thumb {
    position: relative;
    overflow: hidden;
}
.slick-slide img {
    margin: auto;
}

.slick-slide img {
    display: block;
}
.overlay-rmore {
    border-radius: 0;
}
.overlay-rmore {
    position: absolute;
    height: 54px;
    width: 54px;
    line-height: 54px;
    left: 50%;
    top: 50%;
    margin: -27px 0 0 -27px;
    z-index: 5;
    font-size: 19px;
    font-weight: 400;
    background-color: #bd0103;
    color: #FFF;
    border-color: #bd0103;
    opacity: 0;
    -webkit-transform: translateZ(0) rotate(-45deg);
    transform: translateZ(0) rotate(-45deg);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: .5s;
    visibility: hidden;
    transition: .4s;
}
.overlay-rmore {
    border-radius: 50%;
    text-align: center;
}

.product-info {
    text-align: center;
}
.product-title {
    height: 35px;
    overflow: hidden;
}
.product-title {
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
    margin: 10px 0 6px;
}
h4 {
    font-weight: 400;
}
.product-title a:hover {
    color: #bd0103;
}

.product-title a {
    color: #333;
}

.product-price {
    color: #c80204;
    font-size: 18px;
}

.product-price {
    font-family: Montserrat;
    margin: 0 0 10px;
    display: block;
}
.product-item:hover .overlay-rmore {
    opacity: 1;
    visibility: visible;
    transform: scale(1.2) rotate(0);
    transition: .4s;
    border-radius: 0;
}
.product-item:hover .overlay-rmore a {
    color: #FFF;
    margin-top: 0;
}
.overlay-rmore a {
    color: #FFF;
    display: block;
    width: 100%;
    margin-top: 30%;
    vertical-align: middle;
    cursor: pointer;
    z-index: 111;
}
.overlay-rmore {
    text-align: center;
}
