footer {
    background: #1e1e1e;
    padding: 45px 0 35px;
}
.space10{
    margin-bottom: 10px !important;
}
.widget-footer p {
    font-size: 13px;
    color: #bbb;
    line-height: 22px;
}
.fb_iframe_widget {
    display: inline-block;
    position: relative;
}
.widget-footer h5 {
    font-family: Montserrat,Raleway,Lato,sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #eee;
    margin: 0 0 22px;
    text-transform: uppercase;
}

.list-footer-contact {
    color: #fff;
    font-size: 13px;
}
.list-footer-contact li {
    padding: 10x 0px;
    margin-bottom: 10px;
}
.list-footer-contact li i {
    margin-right: 10px;
}
.list-footer-contact li a {
    font-size: 13px;
    color: #bd0103;
}
/*Form */
.form-group {
    margin-bottom: 15px;
}
.newsletter input {
    height: 36px;
    background: #343434;
    border: none;
    color: #ccc;
    padding: 0 20px;
    line-height: 36px;
    width: 100%;
    margin-bottom: 13px;
    outline: 0;
}
.newsletter button {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #8a0102;
    font-size: 15px;
    font-family: Raleway,Lato,sans-serif;
    font-weight: 300;
    background: #c80204;
    height: 39px;
    line-height: 39px;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;
}
.newsletter button:hover {
    background: #343434;
    color: #fff;
}
.widget-tags li {
    float: left;
    margin-right: 7px;
    margin-bottom: 9px;
}
.widget-tags li a {
    color: #fff;
    height: 30px;
    border: 1px solid #393939;
    font-size: 13px;
    color: #888;
    line-height: 28px;
    padding: 0 10px;
    display: table;
}
.widget-tags li a:hover {
    border-color: #979797;
    color: #bbb;
    outline: 0;
    text-decoration: none;
    transition: .4s;
}

/*
*Footer bottom
*/
.footer-bottom {
    background: #131313;
    padding: 25px 0;
}
.footer-bottom p {
    color: #bbb;
    margin: 0;
}
.flinks li a {
    color: #bbb;
}
a, a:hover {
    color: #444;
    outline: 0;
    text-decoration: none;
    transition: .4s;
}
.flinks li {
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
}
.flinks li:not(:last-child)::after{
    content: "|";
    color: #555;
    right: -6px;
}
.flinks li, .flinks li::after{
    position: relative;
}
.footer-bottom a{
    color: #bd0103;
}