#backtotop.active {
    opacity: 1;
}
#backtotop {
    bottom: 50%;
    right: 10px;
    z-index: 995;
    border-radius: 0;
}
#backtotop {
    /* border-radius: 50%; */
    line-height: 48px;
    background-color: #333;
    display: block;
    position: fixed;
    bottom: 50%;
    text-align: center;
    width: 40px;
    right: 30px;
    opacity: 0;
    transition: all .4s ease 0s;
    color: #FFF;
    font-size: 11px;
    height: 40px;
    z-index: 99999;
    cursor: pointer;
}
#backtotop .fa {
    font-size: 24px;
    padding-top: 5px;
}